<main class="main">
  <div class="container-left">
    <nav class="nav">
      <form class="js-form" action="">
        <input
          type="text"
          name="tv_shows"
          id="tv_shows"
          class="search-input js-search-input"
          placeholder="¿Qué serie quieres buscar?"
        />
        <button
          id="search-button"
          class="search-button js-search-button"
          type="button"
        >
          Search
        </button>
      </form>
    </nav>
    <aside class="favorite-section js-favorite-section">
      <ul class="js-favoriteShows-section"></ul>
      <div class="deleteAllBtnContainer js-deleteAllBtnContainer"></div>
    </aside>
  </div>
  <section class="search-section js-search-section"></section>
</main>
