// fonts
$font-main: 'Noto Sans TC', sans-serif;
$font-title: 'Lobster', cursive;

// colors
$color-white: #f3f4f5;
$color-primary: rgb(27, 84, 85);
$color-primary-light: rgb(205, 235, 235);
$color-secondary: rgb(235, 205, 128);
$color-delete: rgb(216, 104, 13);
$color-recomend: rgb(47, 170, 98);

// Breakpoints //
$medium: 768px;
$large: 1024px;
$small: 320px;
