.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.main {
  position: relative;
  height: auto;
  display: flex;
  width: 100%;
  flex-grow: 1;

  border: 1px solid rgb(100, 100, 100);

  .container-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 268px;
  }
}
