body {
  background-image: url(../images/blue2.jpg);
  background-size: auto;
  background-repeat: repeat;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: $font-main;
}

.main {
  position: relative;
  height: auto;
  display: flex;
  width: 100%;
  flex-grow: 1;

  .container-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 268px;
  }
}
