body {
  background: linear-gradient(
      rgba(205, 235, 235, 0.7),
      rgba(205, 235, 235, 0.7)
    ),
    url(../images/blue2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: $font-main;
  padding: 5px;

  @include tablet {
    max-width: 768px;
    padding: 10px;
  }
  @include desktop {
    max-width: 1200px;
  }

  .main {
    position: relative;
    height: auto;
    display: flex;
    width: 100%;
    flex-grow: 1;

    .container-left {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 120px;

      @include tablet {
        width: 268px;
      }
    }
  }
}
