.favorite-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  .favorite-cardShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(235, 205, 128, 0.5);

    @include tablet {
      height: 110px;
      padding: 5px;
    }

    .container-favleft {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 100%;
        margin: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
      }
      h3 {
        color: $color-primary;
        text-align: left;
        font-size: 12px;
        margin-left: 2px;
        text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);

        @include tablet {
          margin-left: 10px;
          font-size: 18px;
        }
      }
    }
    .delete-favorite {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      font-size: 12px;
      border-radius: 50%;
      background-color: $color-secondary;
      color: $color-primary;
      flex-shrink: 0;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: $color-delete;
        color: $color-primary-light;
      }

      @include tablet {
        height: 23px;
        width: 23px;
        font-size: 16px;
      }
    }
  }
  .deleteAllBtnContainer {
    margin-top: 20px;
    .delete-fav-button {
      width: 100%;
      border-radius: 10px;
      background-color: $color-primary-light;
      color: $color-primary;
      font-weight: 700;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        background-color: $color-delete;
        color: $color-primary-light;
      }
    }
  }
}
