.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 1rem;
  margin-top: 15px;
  color: $color-secondary;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-top: 1px solid $color-primary-light;

  .link {
    color: $color-primary-light;
  }
}
